.text-center {
  text-align: center;
}

.text-white {
  color: var(--white);
}

.text-dark {
  color: var(--dark);
}

.text-dark-50 {
  color: var(--dark-50);
}

.text-white-50 {
  color: var(--white-50);
}
