.p-relative {
  position: relative;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-185 {
  margin-bottom: 185px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-100 {
  margin-top: 100px;
}

.fz-52 {
  font-size: 52px;
}

.btn {
  display: inline-block;

  padding: 12px 24px;

  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-primary {
  color: var(--white);

  background: var(--primary);
}

.btn-primary:hover {
  background: var(--primary-dark);
}
