@import url('./vars.css');
@import url('./general.css');
@import url('./grid.css');
@import url('./atomic.css');
@import url('./text.css');
@import url('./background.css');
@import url('./card.css');
@import url('./manifest.css');

.main-image {
  position: absolute;

  top: 55px;
  right: -270px;

  z-index: 1;

  height: 525px;
}

.shadow {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.video {
  position: relative;
  top: 200px;

  z-index: 2;

  margin-top: -200px;
}
